syntax: glob

*.sublime-project
*.sublime-workspace
*~
*.pyc
web.conf
setuptools_hg-*
hgtools-*
build/lib/*
build/*
dist/*
*.egg-info*
*.egg*
databrowse_wsgi/databrowse_style.xml
databrowse_wsgi/databrowse_wsgi.conf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
