graft databrowse
graft databrowse_wsgi
graft doc
include COPYING
include DEPENDENCIES
include README
include setup.py
include TODO
prune doc/Manual/*.aux
prune doc/Manual/*.fdb*
prune doc/Manual/*.fls
prune doc/Manual/*.out
prune doc/Manual/*.toc
prune build
prune dist
