graft databrowse
graft databrowse_wsgi
graft doc
include COPYING
include DEPENDENCIES
include README.md
include setup.py
include TODO
exclude doc/Manual/*.aux
exclude doc/Manual/*.fdb*
exclude doc/Manual/*.fls
exclude doc/Manual/*.out
exclude doc/Manual/*.toc
exclude install
