code{
	background: rgba(0, 0, 0, 0.08);
	font-family: consolas, monospace, courier;
	padding: 1px 2px;
}

pre{
	background: #eee;
	border: 1px solid #ddd;
	color: #000;
	font-family: consolas, monospace, courier;
	font-size: 13px;
	padding: 6px 9px;
}

pre.nows{
	white-space: normal;
}

ul[type="none"]{
	list-style: none;
	padding-left: 0;
}

ul[type="none"] ul{
	margin-left: 15px;
}

p.note{
	background: #f4f3e8;
	border: 1px solid #c8c2a7;
	border-width: 1px 0;
	padding: 12px 15px;
}

.toc{
	background: #f4f3e8;
	float: right;
	padding: 12px 18px;
	margin-bottom: 20px;
	margin-left: 20px;
	min-width: 160px;
}

.toc ul{
	margin: 0;
}

.toc span{
	margin-right: 3px;
}

.toc a{
	color: #756d45;
}


/*-- Path Bar --*/

.pathbar{
	background-color: #ccc;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAYAAAC9WOV0AAAAHklEQVQY02NhAAIWGMEIIpjgXCZcEoyoSnBKEG0oACP0AIWLLZ8oAAAAAElFTkSuQmCC");
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-position: bottom;
	background-repeat: repeat-x;
	border-bottom: 1px solid gray;
	position: relative;	
	left: -20px;
	top: -10px;
	width: 764px;
	overflow: hidden;
}

.pathbar .button{
	color: #444;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.pathbar .button:hover{
	background-color: #b8b8b8;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAYAAADXnxW3AAAAHElEQVQY02NhYGCoZAESP1CJ71jEcEqAxX6CCQA5vw9BVGDSpgAAAABJRU5ErkJggg==");
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	border-radius:3px;
}

.pathbar .button.active{
	background-color: #777;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAYAAADXnxW3AAAAHElEQVQY02NhYGCoZAESP1CJ71jEcEqAxX6CCQA5vw9BVGDSpgAAAABJRU5ErkJggg==");
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
	background-position: bottom;
	background-repeat: repeat-y;
	border-radius:3px;
	color: #fff;
	text-decoration: none;
}