
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
.ColVis {
	float: right;
}

.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 0px 5px;
	height: 22px;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	cursor: pointer;
	*cursor: hand;
	margin-top: 2px;
}

button.ColVis_Button::-moz-focus-inner { 
	border: none !important;
	padding: 0;
}

.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}

div.ColVis_collection {
	position: relative;
	width: 150px;
	background-color: #f3f3f3;
	padding: 3px;
	border: 1px solid #ccc;
	z-index: 1102;
}

div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}

.disabled {
	color: #999;
}



button.ColVis_Button {
	text-align: left;
}

div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

span.ColVis_radio {
	display: inline-block;
	width: 20px;
}

.ColVis_MasterButton {
	background-color: #ededed;
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.7);
	color: #444;
	float: left;
	font-size: 13px;
	line-height: 1.5;
	margin-left: 3px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #f0f0f0;
}

.ColVis_MasterButton:hover {
	background-color: #f2f2f2;
	color: #222;
}